<%= link_to "Sign Out", logout_path %>
<%= form_for @link, url: links_path do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title", class:"form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.text_field :url, placeholder: "URL", class:"form-control" %><br>
  </div>
  <%= f.submit "Submit Link", class: "btn btn-default"%>
<% end %>
<br>
<section id="filters">
  <div class="row">
    <form id="live-search" action="" class="input-field" method="post">
      <i class="material-icons prefix">search</i>
      <input placeholder="Search Thoughts" type="text" class="text-input" id="search" name="search" />
    </form>
    <button id="read-filter" class="btn">Filter by Read</button>
    <button id="unread-filter" class="btn">Filter by Unread</button>
    <button id="reset-status-filter" class="btn">View all read statuses</button>
    <button id="sort" class="btn" data-sorted="false"><i class="material-icons right">sort_by_alpha</i>Sort by Title</button>
  </div>
</section>
<section class="my-links">
  <% @links.each do |link| %>
    <% unless link.id == nil %>
      <% status = link.read === true ? "Read" : "Unread" %>
      <div class="link" id="link<%= link.id %>" data-status="<%= link.read %>" data-title="<%= link.title %>">
        <%= "#{link.title}: #{link.url}" %>
        <span class="read-status" data-id="<%= link.id %>"><%= status %></span>
        <%= button_to "Edit", edit_link_path(link), method: :get %>
      </div>
    <% end %>
  <% end %>
</section>
