<%= link_to "Sign Out", logout_path %>
<%= form_for @link, url: links_path do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title", class:"form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.text_field :url, placeholder: "URL", class:"form-control" %><br>
  </div>
  <%= f.submit "Submit Link", class: "btn btn-default"%>
<% end %>
<br>
<section class="my-links">
  <% @links.each do |link| %>
    <% unless link.id == nil %>
      <% status = link.read === true ? "Unread" : "Read" %>
      <div id="link<%= link.id %>">
        <%= "#{link.title}: #{link.url}" %>
        <span class="read-status" data-id="<%= link.id %>"><%= "Mark as #{status}"%></span>
        <%= button_to "Edit", edit_link_path(link), method: :get %>
      </div>
    <% end %>
  <% end %>
</section>
