<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ThoughtBox</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: "#{type} flashy", id: "flash_notice" %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
  <%= javascript_include_tag 'application' %>
</html>
