<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ThoughtBox</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <br>
      <br>
      <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "card-panel red lighten-2 white-text", id: "flash_notice" %>
      <% end %>
      <%= yield %>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </body>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>
</html>
